packages/*
postcodesorter/postcodesorter/bin/*
postcodesorter/postcodesorter/obj/*
postcodesorter/postcodesorterj.Droid/bin/*
postcodesorter/postcodesorter.Droid/obj/*
postcodesorter/postcodesorter.iOS/bin/*
postcodesorter/postcodesorter.iOS/obj/*
postcodesorter/postcodesorter.WinPhone/*
postcodesorter/postcodesorter.Windows/*
postcodesorter/postcodesorter.UWP/*